.MessageBoxContainer {
   margin-top: 15px;
   margin-left: 15px;
   width: 300px;
   border-radius: 15px;
   background-color: white;
   border-width: 2px;
   border-color: lightgrey;
   border-style: solid;
   box-shadow: 1px 1px 5px lightgrey;
}

.MessageBoxStateContainer {
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   height: 20px;
}

.MessageBoxGreenState {
   background-color: #4CAF50;
}

.MessageBoxYellowState {
   background-color: #F9A825;
}

.MessageBoxRedState {
   background-color: #F44336;
}

.TextInputContainer {
   width: 50%;
   margin-top: 8px;
   margin-left: 10px;
   margin-bottom: 10px;
}

.TextInputItem {
   background-color: white !important;
   border-style: solid !important;
   border-width: 1px !important;
   border-color: lightgrey !important;
   padding: 10px !important;
   border-radius: 5px !important;
   box-shadow: 1px 1px 7px lightgrey !important;
}